
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Thanh toán</h2>
                    <p>Sự hài lòng của quý khách là niềm vui của chúng tôi!</p>
                </div>
                <div class="page_link">
                    <a href="/">Home</a>
                    <span>Checkout</span>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Ảnh SP</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product.ID</td>
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.Image" width="100" /></td>
                            <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                            <td>@item.Product.Price</td>
                            <td>@((item.Product.Price * item.Quantity).ToString("N0"))</td>
                            @*<td><a href="#" data-id="@item.Product.ID" class="btn-delete">Xoá</a></td>*@
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
    <div class="section group">
        <div class="col-md-6">

        </div>
            <div class="col-md-6">
                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    <div class="checkout__input">
                        <label>Người nhận</label>
                        <input name="shipName" class="form-control" />
                    </div>
                    <div class="checkout__input">
                        <label>Điện thoại</label>
                        <input name="mobile" class="form-control" />
                    </div>
                    <div class="checkout__input">
                        <label>Địa chỉ</label>
                        <input name="address" class="form-control" />
                    </div>
                    <div class="checkout__input">
                        <label>Email</label>
                        <input name="email" class="form-control" />
                    </div>
                    <button type="submit" class="primary-btn cart-btn cart-btn-right">Gửi đơn hàng</button>
                }
            </div>

        </div>
    </div>
